In [8]:
from string import ascii_letters
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import bokeh

# in your notebook cell
import sys

# path relative to your notebook
sys.path.insert(0, '../src')

# autoreload
%load_ext autoreload
%autoreload 2

#defining DataFrame
df = pd.read_excel('../data/nuclear_weapon_explosions_1945-1998.xlsx')

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [9]:
df.head()

df.shape

(2041, 13)

In [10]:
df[df.isnull().any(axis=1)]

,Unnamed: 0,latitude,longitude,depth,mb,name,source,Country,datetime,max_yield,medium,confirmation,salvo
0,1,41.5000,88.5000,0.00,NaN,-,BOLT,China,1964-10-16 07:00:00,20.0,Air,presumed,0
1,2,41.5000,88.5000,0.00,NaN,-,BOLT,China,1965-05-14 02:00:00,20.0,Air,presumed,0
2,3,41.5000,88.5000,0.00,NaN,-,BOLT,China,1966-05-09 08:00:00,200.0,Air,presumed,0
3,4,41.5000,88.5000,0.00,NaN,-,NRDC,China,1966-10-27 01:10:00,0.0,Air,unknown,0
4,5,41.5000,88.5000,0.00,NaN,-,NRDC,China,1966-12-28 04:00:00,0.0,Air,unknown,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1987,1988,60.6000,72.7000,2.86,NaN,PNE:Benzene,SULTANOV,Russia,1985-06-18 04:00:00,2.5,Underground,confirmed,0
1989,1990,49.7506,78.0492,0.00,NaN,-,KRR,Russia,1985-07-11 02:57:02,20.0,Underground,confirmed,0
1991,1992,49.8011,78.0686,0.00,NaN,-,KRR,Russia,1985-07-19 04:00:08,20.0,Underground,confirmed,0
1996,1997,50.0000,78.0000,0.00,NaN,-,RFAE,Russia,1987-04-03 00:00:00,60.0,Air,confirmed,1
2032,2033,49.8011,78.0686,0.00,NaN,-,KRR,Russia,1988-12-28 05:28:10,40.0,Air,confirmed,1